parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../tests/ChannelStub.php
	ignoreErrors:
		-
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			path: ../../src/BunnyInstrumentation.php
